.dropdown_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.dropdown_select {
  border-radius: 50px;
  border-color: rgb(38, 0, 255);
  display: flex;
  padding: 2px 0;
  height: 25px;
  width: 130px;
  text-align: center;
  background-color: rgb(228, 245, 247);
  color: rgb(121, 5, 5);
}

.dropdown_select:hover,
.dropdown_select:focus {
  cursor: pointer;
}

.dropdown_text {
  margin: 0;
  font-size: 10px;
}

@media screen and (min-width: 568px) {
  .dropdown_text {
    font-size: 16px;
  }

  .dropdown_select {
    width: 148px;
  }
}

@media screen and (max-width: 400px) {
  .dropdown_text {
    font-size: 8px;
    margin-left: 8px;
  }
}
