/* .button {
  width: 44px;
  height: 26px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
  border-color: rgb(168, 179, 179);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  font-size: 18px;
  transform: scale(1.15);
  background-color: rgb(172, 240, 218);
} */

.options {
  position: absolute;
  left: 220px;
  top: 350px;
  display: flex;
  gap: 8px;
  z-index: 4;
}

@media screen and (min-width: 568px) {
  .options {
    left: 300px;
    top: 360px;
  }
}

@media screen and (min-width: 768px) {
  .options {
    left: 350px;
    top: 343px;
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .options {
    top: 312px;
  }
}

@media screen and (max-width: 440px) {
  .options {
    left: 170px;
    gap: 3px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  /* border: 1px solid red; */
}

.label {
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease;
  transform: scale(1);
}

.label:hover,
.label:focus {
  color: rgb(63, 11, 11);
  transform: scale(1.2);
}

.checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  top: 0;
}

.checkbox:checked::before {
  content: '\2714';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1px;
  left: -1px;
  width: 25px;
  height: 25px;
  color: #fff;
  background: #007bff;
  border-radius: 8px;
  transform: scale(0);
  animation: checkbox-pulse 0.8s ease forwards;
}
@keyframes checkbox-pulse {
  50% {
    transform: scale(1.2);
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 3px rgb(236, 244, 5);
  }
}

.gif {
  border: none;
  pointer-events: none;
  background: none;
  height: 200px;
}

.gif_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.gif_text {
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .gif {
    height: 300px;
    width: 400px;
  }
}
