.clients {
  padding-bottom: 40px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 10px;
  }
}

.clients__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__subtitle {
    font-size: 20px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__link_img1:hover,
.clients__link_img2:hover,
.clients__link_img3:hover,
.clients__link_img1:focus,
.clients__link_img2:focus,
.clients__link_img3:focus {
  border-color: #ff6b08;
  color: #ff6b08;
}

.clients__link_img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  background-image: url(/src/images/Amazon-logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .clients__link_img1 {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link_img1 {
    width: 170px;
  }
}

.clients__link_img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  background-image: url(/src/images/Mountain-t-shirts-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .clients__link_img2 {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link_img2 {
    width: 170px;
  }
}

.clients__link_img3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  background-image: url(/src/images/6pm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .clients__link_img3 {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link_img3 {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}

.container {
  padding: 15px;
}
