.btnToUp {
  position: fixed;
  bottom: 80px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.iconToUp {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #e2f8ff;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconToUp:hover,
.iconToUp:focus {
  background-color: #ff6b08;
  fill: white;
  border: solid 1px black;
}
